body {
  font-family: 'Roboto', sans-serif;
  padding-left: 144px;
  padding-right: 72px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.heading {
  text-align: center;
  font-size: 80px;
  font-weight: 500;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  cursor: default;
}