.main {
  display: flex;
  justify-content: space-around;
}

.avatar-container {
  width: 300px;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.avatar {
  width: 300px;
  border-radius: 50%;
}

.edit-button {
  width: 250px;
  height: 50px;
  border: 1px solid #000000;
  border-radius: 5px;
  font-size: 20px;
  transition: background-color 150ms;
}

.edit-button:hover {
  background-color: #ccc;
  cursor: pointer;
}

.edit-button:focus {
  border-color: #2f8bc7;
}

.edit-button:active {
  background-color: #bbb;
  border-color: #000000;
}

.information-container {
  width: 1080px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.entry {
  display: flex;
  justify-content: space-between;
  cursor: default;
}

.entry-label,
.entry-value {
  font-size: 72px;
}

.entry-label {
  width: 330px;
}

.entry-value {
  flex: 1;
  text-align: center;
}