html,
body {
  height: 100%;
}

body {
  box-sizing: border-box;
  margin: 0;
  outline: none;
  border: none;
  padding: 0;
}

button {
  box-sizing: border-box;
  margin: 0;
  outline: none;
  border: none;
  padding: 0;
  background-color: #ffffff;
}

:focus,
:focus-visible,
:focus-within,
:active {
  outline: none;
  border: none;
}

a:link,
a:visited,
a:hover,
a:focus,
a:focus-visible,
a:focus-within,
a:active {
  color: #000000;
  text-decoration: none;
  cursor: default;
}