.sidebar {
  position: fixed;
  left: 0;
  width: 72px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #e63e11;
}


.top,
.middle,
.bottom {
  text-align: center;
  padding: 24px 0;
}

.sfu-logo,
.sidebar-avatar {
  width: 48px;
}


.middle {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-item {
  width: 72px;
  height: 74px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 150ms;
}

.sidebar-item:hover {
  background-color: #d13c16;
  cursor: pointer;
}

.sidebar-label {
  font-size: 10px;
}

.sidebar-avatar {
  border-radius: 50px;
}

.sidebar-icon.material-icons {
  font-family: 'Material Icons Outlined';
}

.sidebar-icon.material-icons.current {
  font-family: 'Material Icons';
}

.sidebar-avatar.current {
  border: 3px solid #000000;
}