{% extends 'base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'streams/style.css' %}">
{% endblock %}

{% block title %}
Потоки
{% endblock %}

{% block content %}
    <main>
    {% if streams %}
      {% for stream in streams %}
      <div>
        <a href="{% url 'streams:detail' stream.id %}">{{ stream }}</a>
        <a href="{% url 'streams:edit' stream.id %}"><button>Редактировать</button></a>
        <a href="{% url 'streams:delete' stream.id %}"><button>Удалить</button></a>
      </div>
      {% endfor %}
      {% else %}
      <p>Нет потоков для показа.</p>
      {% endif %}
      <a href="{% url 'streams:add' %}"><button>Добавить поток</button></a>
    </main>
{% endblock %}