{% extends 'base.html' %}

{% load static %}

{% block styles %}
  <!-- <link rel="stylesheet" type="text/css" href="{% static 'streams/styles/style.css' %}"> -->
{% endblock %}

{% block title %}
Потоки
{% endblock %}

{% block main %}
  <main>
    {% if streams %}
    <form method="GET">
      <input type="text" name="search" placeholder="Поиск" value="{{ search }}">
      <input type="submit" value="Найти">
    </form>
      {% for stream in streams %}
        <div>
          <a href="{% url 'streams:stream' stream.pk %}">{{ stream }}</a>
          {% if stream.groups_num %}
          <span>Количество групп: {{ stream.groups_num }}</span>
          {% else %}
          <span>Нет групп</span>
          {% endif %}
          <a href="{% url 'streams:edit' stream.pk %}">
            Редактировать
          </a>

          <a href="{% url 'streams:delete' stream.pk %}">
            Удалить
          </a>
        </div>
      {% endfor %}
      {% else %}
        <span>Нет потоков для показа.</span>
      {% endif %}
      <a href="{% url 'streams:add' %}">Добавить поток</a>
  </main>
{% endblock %}