{% extends 'base.html' %}

{% load static %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'streams/styles/style.css' %}">
{% endblock %}

{% block title %}
Поток {{ stream }}
{% endblock %}

{% block main %}
  <main>
    <h1>{{ stream }}</h1>
    <span>Настройки:</span>
    <ul>
      <li>Количество баллов для допуска к аттестации: {{ stream.required }}</li>
      <li>Количество баллов для оценки автоматом: {{ stream.autopass }}</li>
    </ul>
  </main>
{% endblock %}